* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #111111;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
}

.lists {
	margin-top: -100px;
}

footer {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.loading {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
